@inherits LayoutComponentBase

<PageTitle>TDSabado</PageTitle>

<header>
    
    <ul class="navigation">
        <li><a href="/login">Logar</a></li>
        <li><a href="/about">Sobre nós</a></li>
        <li><a href="/products">Produtos</a></li>
    </ul>


   <!-- <div class="headercontainer">
        
        <a href="/login">Registrar</a>
    </div>
    -->

</header>


<main>
     @Body
</main>

